In [1]:
import pandas as pd
import yfinance as yf
from datetime import date

In [2]:
# start_date = '2023-4-10' # start of MAGS history
# start_date = '2023-1-1' # start of uptrend
start_date = '2020-1-1'


def temperature(series):
    series = series.dropna()
    if len(series) == 0:
        return None
    return (series <= series.iloc[-1]).mean()


rows = []
for symbol in [
    'SPY', 'QQQ', 'TQQQ', 'IGM', 'XLKS.MI',
    'MAGS', 'MAGX', 'MAG7.L',
    'FNGS', 'FNGU',
    'SMH', 'USD', 'NVDA',
    'TSLA', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'CRM', 'NFLX', 'SHOP', 'NET', 'NOW',
]:
    tickerData = yf.Ticker(symbol)
    # prices are adjusted for splits
    history = tickerData.history(
        interval='1d', start=start_date, end=date.today())
    history['SMA200'] = history['Close'].rolling(window=200).mean()
    history['SMA200_distance'] = history.Close / history.SMA200 - 1
    history['SMA50'] = history['Close'].rolling(window=50).mean()
    history['SMA50_distance'] = history.Close / history.SMA50 - 1
    # display(history)
    rows.append({
        'symbol': symbol,
        'days': len(history),
        'SMA50': temperature(history.SMA50_distance),
        'SMA200': temperature(history.SMA200_distance),
    })

In [3]:
df = pd.DataFrame(rows)
display(df)
df.to_csv('data/stocks-temperature.csv', index=False)

     symbol  days     SMA50    SMA200
0       SPY  1252  0.294264  0.456790
1       QQQ  1252  0.442228  0.504274
2       IGM  1252  0.479634  0.546059
3   XLKS.MI  1271  0.618658  0.706157
4      TQQQ  1252  0.455528  0.496676
5      MAGS   429  0.855263  0.847826
6      MAGX   206  0.745223  0.142857
7    MAG7.L   182  0.744361       NaN
8      FNGS  1252  0.770574  0.755935
9      FNGU  1252  0.738155  0.736942
10      SMH  1252  0.241895  0.226971
11      USD  1252  0.278470  0.280152
12     NVDA  1252  0.200333  0.293447
13     TSLA  1252  0.906899  0.934473
14     MSFT  1252  0.502909  0.320038
15     GOOG  1252  0.896093  0.547009
16     AAPL  1252  0.817124  0.865147
17     AMZN  1252  0.838736  0.813865
18      CRM  1252  0.704904  0.825261
19     NFLX  1252  0.757273  0.886990
20     SHOP  1252  0.721530  0.915480
21      NET  1252  0.729842  0.735992
22      NOW  1252  0.681629  0.936372