In [1]:
import pandas as pd
import yfinance as yf
from datetime import date

In [ ]:
# start_date = '2023-4-10' # start of MAGS history
# start_date = '2023-1-1' # start of uptrend
start_date = '2020-1-1'

def temperature(series):
    series = series.dropna()
    if len(series) == 0:
        return None
    return (series <= series.iloc[-1]).mean()

rows = []
for symbol in ['SPY','QQQ','IGM','XLKS.MI','MAGS','FNGS','SMH',
               'NVDA','TSLA','CRM','NFLX','SHOP','MSFT','GOOG','AAPL','NET','NOW',
               'USD','TQQQ','FNGU','MAGX','MAG7.L',
               ]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1d', start=start_date, end=date.today()) # prices are adjusted for splits
    history['SMA200'] = history['Close'].rolling(window=200).mean()
    history['SMA200_distance'] = history.Close / history.SMA200 - 1
    history['SMA50'] = history['Close'].rolling(window=50).mean()
    history['SMA50_distance'] = history.Close / history.SMA50 - 1
    # display(history)
    rows.append({
        'symbol': symbol,
        'days': len(history),
        'SMA50': temperature(history.SMA50_distance),
        'SMA200': temperature(history.SMA200_distance),
    })

In [3]:
df = pd.DataFrame(rows)
display(df)
df.to_csv('data/stocks-temperature.csv', index=False)

     symbol  history     SMA50    SMA200
0       SPY     1237  0.636364  0.681118
1       QQQ     1237  0.488215  0.493256
2       IGM     1237  0.518519  0.525048
3   XLKS.MI     1256  0.597349  0.597919
4      MAGS      414  0.641096  0.511628
5      FNGS     1237  0.560606  0.549133
6       SMH     1237  0.234007  0.238921
7      NVDA     1237  0.340067  0.394027
8      TSLA     1237  0.867845  0.909441
9       CRM     1237  0.841751  0.766859
10     NFLX     1237  0.911616  0.913295
11     SHOP     1237  0.964646  0.992293
12     MSFT     1237  0.385522  0.273603
13     GOOG     1237  0.358586  0.318882
14     AAPL     1237  0.570707  0.754335
15      NET     1237  0.675926  0.588632
16      NOW     1237  0.807239  0.921965
17      USD     1237  0.265993  0.284200
18     TQQQ     1237  0.510943  0.487476
19     FNGU     1237  0.580808  0.569364
20     MAGX      191  0.528169       NaN
21   MAG7.L      167  0.627119       NaN