In [3]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from statistics import mean
from datetime import date

In [4]:
# start_date = '2020-01-01'
# start_date = '2021-01-01' # start of previous cycle
# start_date = '2022-01-01' # start of downtrend
# start_date = '2023-01-01' # start of uptrend
# start_date = '2023-04-10' # start of MAGS history
# start_date = '2024-02-28' # start of MAGX history
start_date = '2024-10-23' # start of TOPT & QTOP history

weeks = 9
end_date = date.today()
max_days = (end_date - date.fromisoformat(start_date)).days
min_history = max_days*0.8/7
rows = []
for symbol in [
    'SPY','QQQ','TOPT','QTOP',
    'IGM','XLKS.MI','SMH','USD','TQQQ','FNGU','FNGS','MAGS',
    'MAGX','MAG7.L'
]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1wk', start=start_date, end=date.today()) # prices are adjusted for splits
    changes = history.Close.pct_change(periods=weeks) if len(history) > min_history else pd.Series([])
    rows.append({
        'symbol': symbol,
        'weeks': len(history),
        'change': changes.mean(),
        'std': changes.std(),
        'score': changes.mean() / changes.std(),
    })

df = pd.DataFrame(rows).sort_values(by='score', ascending=False)
display(df)
df.to_csv('data/stocks-9w.csv', index=False)

     symbol  weeks    change       std     score
10     FNGS     20  0.053416  0.079157  0.674813
9      FNGU     20  0.119435  0.228414  0.522887
1       QQQ     20  0.016847  0.037481  0.449477
2      TOPT     20  0.018417  0.043238  0.425936
4       IGM     20  0.019896  0.047350  0.420195
3      QTOP     20  0.019220  0.046826  0.410454
11     MAGS     20  0.037431  0.093276  0.401295
0       SPY     20  0.008091  0.022349  0.362018
12     MAGX     20  0.057342  0.187170  0.306363
13   MAG7.L     20  0.071978  0.473874  0.151892
8      TQQQ     20  0.015987  0.111789  0.143014
5   XLKS.MI     20  0.007164  0.069251  0.103444
6       SMH     20  0.001333  0.056343  0.023667
7       USD     20 -0.057162  0.146370 -0.390529