In [16]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from statistics import mean
from datetime import date

In [17]:
# start_date = '2021-1-1' # start of previous cycle
# start_date = '2022-1-1' # start of downtrend
start_date = '2023-1-1' # start of uptrend
# start_date = '2023-4-10' # start of MAGS history
# start_date = '2024-2-28' # start of MAGX history
weeks = 52
rows = []
for symbol in [
    'SPY','QQQ','IGM','XLKS.MI','SMH','USD','TQQQ','FNGU','FNGS','MAGS',
    'MAGX','MAG7.L'
]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1wk', start=start_date, end=date.today()) # prices are adjusted for splits
    changes = history.Close.pct_change(periods=weeks)
    rows.append({
        'symbol': symbol,
        'weeks': len(history),
        'change': changes.mean(),
        'std': changes.std(),
        'score': changes.mean() / changes.std(),
    })

df = pd.DataFrame(rows).sort_values(by='score', ascending=False)
display(df)
df.to_csv('data/stocks-52w.csv', index=False)

     symbol  weeks    change       std     score
3   XLKS.MI     99  0.503924  0.069126  7.289978
9      MAGS     85  0.515131  0.081095  6.352223
4       SMH    100  0.678386  0.111596  6.078956
2       IGM    100  0.486413  0.082186  5.918439
0       SPY    100  0.282412  0.053534  5.275340
5       USD    100  2.221579  0.457359  4.857405
1       QQQ    100  0.361476  0.079922  4.522836
8      FNGS    100  0.576262  0.146365  3.937165
6      TQQQ    100  1.067462  0.368004  2.900680
7      FNGU    100  2.008613  0.838448  2.395633
10     MAGX     39       NaN       NaN       NaN
11   MAG7.L     33       NaN       NaN       NaN