In [1]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from statistics import mean
from datetime import date

In [2]:
# start_date = '2023-4-10' # start of MAGS history
# start_date = '2023-1-1' # start of uptrend
start_date = '2021-1-1'

def temperature(series):
    series = series.dropna()
    if len(series) == 0:
        return None
    return (series <= series.iloc[-1]).mean()

rows = []
for symbol in ['SPY','QQQ','IGM','XLKS.MI','MAGS','FNGS','SMH',
               'NVDA','TSLA','CRM','NFLX','SHOP','MSFT','GOOG','AAPL','NET','NOW',
               'USD','TQQQ','FNGU','MAGX','MAG7.L',
               ]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1d', start=start_date, end=date.today()) # prices are adjusted for splits
    history['SMA200'] = history['Close'].rolling(window=200).mean()
    history['SMA200_distance'] = history.Close / history.SMA200 - 1
    history['SMA50'] = history['Close'].rolling(window=50).mean()
    history['SMA50_distance'] = history.Close / history.SMA50 - 1
    # display(history)
    rows.append({
        'symbol': symbol,
        'history': len(history),
        'SMA50': temperature(history.SMA50_distance),
        'SMA200': temperature(history.SMA200_distance),
    })

In [3]:
df = pd.DataFrame(rows)
display(df)
df.to_csv('data/stocks-temperature.csv', index=False)

     symbol  history     SMA50    SMA200
0       SPY      980  0.602578  0.756722
1       QQQ      980  0.522019  0.546735
2       IGM      980  0.586466  0.610755
3   XLKS.MI      996  0.766631  0.690088
4      MAGS      410  0.595568  0.436019
5      FNGS      980  0.669173  0.587708
6       SMH      980  0.315789  0.326504
7      NVDA      980  0.460795  0.422535
8      TSLA      980  0.968851  0.993598
9       CRM      980  0.963480  0.847631
10     NFLX      980  0.965628  0.943662
11     SHOP      980  0.960258  0.939821
12     MSFT      980  0.298604  0.302177
13     GOOG      980  0.300752  0.372599
14     AAPL      980  0.464017  0.714469
15      NET      980  0.860365  0.816901
16      NOW      980  0.922664  0.971831
17      USD      980  0.383459  0.384123
18     TQQQ      980  0.522019  0.564661
19     FNGU      980  0.691729  0.627401
20     MAGX      187  0.565217       NaN
21   MAG7.L      162  0.592920       NaN