In [15]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from statistics import mean
from datetime import date

In [16]:
# start_date = '2023-4-10' # start of MAGS history
start_date = '2023-1-1' # start of uptrend
# start_date = '2022-1-1' # start of downtrend
weeks = 52
rows = []
for symbol in ['SPY','QQQ','IYW','IGM','XLKS.MI','SMH','USD','SOXL','TQQQ','FNGU','FNGS','MAGS','NVD3.L','QQQ5.L','SP5Y.L','SMH3.L',
               'MAGX','MAG7.L'
               ]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1wk', start=start_date, end=date.today()) # prices are adjusted for splits
    changes = history['Close'].pct_change(periods=weeks)
    rows.append({
        'symbol': symbol,
        'weeks': len(history),
        'mean_change': changes.mean(),
        'std': changes.std(),
        'score': changes.mean() / changes.std(),
    })

df = pd.DataFrame(rows)
display(df)
df.to_csv('data/stocks-52w.csv', index=False)

     symbol  weeks  mean_change       std     score
0       SPY     95     0.276476  0.052817  5.234571
1       QQQ     95     0.365564  0.082432  4.434750
2       IYW     95     0.444702  0.096039  4.630441
3       IGM     95     0.490135  0.084895  5.773432
4   XLKS.MI     95     0.503484  0.071797  7.012601
5       SMH     95     0.690570  0.107368  6.431798
6       USD     95     2.241886  0.467335  4.797166
7      SOXL     95     1.298425  0.496965  2.612707
8      TQQQ     95     1.088973  0.378397  2.877860
9      FNGU     95     2.053628  0.872202  2.354533
10     FNGS     95     0.582998  0.152745  3.816811
11     MAGS     81     0.502427  0.074462  6.747412
12   NVD3.L     95    12.550244  5.266910  2.382848
13   QQQ5.L     95     1.843417  0.873614  2.110104
14   SP5Y.L     95     1.242998  0.487086  2.551906
15   SMH3.L     95     2.267830  0.662285  3.424250
16     MAGX     35          NaN       NaN       NaN
17   MAG7.L     29          NaN       NaN       NaN