In [9]:
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from statistics import mean
from datetime import date

In [ ]:
# start_date = '2020-01-01'
# start_date = '2021-01-01' # start of previous cycle
# start_date = '2022-01-01' # start of downtrend
start_date = '2023-01-01' # start of uptrend
# start_date = '2023-04-10' # start of MAGS history
# start_date = '2024-02-28' # start of MAGX history

weeks = 9
end_date = date.today()
max_days = (end_date - date.fromisoformat(start_date)).days
min_history = max_days*0.8/7
rows = []
for symbol in [
    'SPY','QQQ','IGM','XLKS.MI','SMH','USD','TQQQ','FNGU','FNGS','MAGS',
    'MAGX','MAG7.L'
]:
    tickerData = yf.Ticker(symbol)
    history = tickerData.history(interval='1wk', start=start_date, end=date.today()) # prices are adjusted for splits
    if symbol == 'USD':
        print('Loading USD history from file')
        history = pd.read_csv('data/USD-weekly.csv').set_index('Date')
    changes = history.Close.pct_change(periods=weeks) if len(history) > min_history else pd.Series([])
    rows.append({
        'symbol': symbol,
        'weeks': len(history),
        'change': changes.mean(),
        'std': changes.std(),
        'score': changes.mean() / changes.std(),
    })

df = pd.DataFrame(rows).sort_values(by='score', ascending=False)
display(df)
df.to_csv('data/stocks-9w.csv', index=False)

$USD: possibly delisted; no price data found  (1wk 2023-01-01 -> 2025-02-23)

Loading USD history from file

     symbol  weeks    change       std     score
9      MAGS     98  0.078631  0.075078  1.047328
8      FNGS    112  0.090133  0.087976  1.024508
2       IGM    112  0.066684  0.066847  0.997564
3   XLKS.MI    112  0.070866  0.073084  0.969653
1       QQQ    112  0.055085  0.057297  0.961385
0       SPY    112  0.038766  0.041726  0.929045
12     NVDA    112  0.202475  0.224183  0.903169
7      FNGU    112  0.251436  0.301693  0.833414
6      TQQQ    112  0.141586  0.187411  0.755486
5       USD    112  0.202872  0.290642  0.698012
4       SMH    112  0.074837  0.110789  0.675489
10     MAGX     52       NaN       NaN       NaN
11   MAG7.L     46       NaN       NaN       NaN