In [1]:
import pandas as pd
import yfinance as yf
from datetime import date

In [2]:
# start_date = '2023-4-10' # start of MAGS history
# start_date = '2023-1-1' # start of uptrend
start_date = date.today().replace(year=date.today().year - 5)


def temperature(series):
    series = series.dropna()
    if len(series) == 0:
        return None
    return (series <= series.iloc[-1]).mean()


rows = []
for symbol in [
    'SPY', 'QQQ', 'TQQQ', 'IGM', 'XLKS.MI',
    'MAGS', 'MAGX', 'MAG7.L',
    'FNGS', 'FNGU',
    'SMH', 'USD', 'NVDA',
    'TSLA', 'MSFT', 'GOOG', 'AAPL', 'AMZN', 'CRM', 'NFLX', 'SHOP', 'NET', 'NOW',
]:
    tickerData = yf.Ticker(symbol)
    # prices are adjusted for splits
    history = tickerData.history(interval='1d', start=start_date, end=date.today())
    history['SMA200'] = history['Close'].rolling(window=200).mean()
    history['SMA200_distance'] = history.Close / history.SMA200 - 1
    history['SMA50'] = history['Close'].rolling(window=50).mean()
    history['SMA50_distance'] = history.Close / history.SMA50 - 1
    # display(history)
    rows.append({
        'symbol': symbol,
        'days': len(history),
        'SMA50': temperature(history.SMA50_distance),
        'SMA200': temperature(history.SMA200_distance),
    })

In [3]:
df = pd.DataFrame(rows)
display(df)
df.to_csv('data/stocks-temperature.csv', index=False)

     symbol  days     SMA50    SMA200
0       SPY  1258  0.280397  0.439093
1       QQQ  1258  0.396195  0.467422
2      TQQQ  1258  0.401985  0.468366
3       IGM  1258  0.432589  0.522191
4   XLKS.MI  1274  0.614694  0.713488
5      MAGS   437  0.628866  0.777311
6      MAGX   214  0.496970  0.200000
7    MAG7.L   189  0.385714       NaN
8      FNGS  1258  0.617866  0.692162
9      FNGU  1258  0.622002  0.702550
10      SMH  1258  0.432589  0.289896
11      USD  1258  0.526882  0.404155
12     NVDA  1258  0.393714  0.376771
13     TSLA  1258  0.745244  0.915014
14     MSFT  1258  0.255583  0.238905
15     GOOG  1258  0.784946  0.517469
16     AAPL  1258  0.476427  0.676110
17     AMZN  1258  0.697270  0.777148
18      CRM  1258  0.423490  0.739377
19     NFLX  1258  0.454094  0.790368
20     SHOP  1258  0.608768  0.904627
21      NET  1258  0.703060  0.745987
22      NOW  1258  0.462366  0.833805